.gold-calculator {
  background-color: #5c5c5c;
  padding: 20px;
  border-radius: 6px;
  color: white;
  max-width: 600px;
  margin: 0 auto;
  font-family: "Comfortaa", sans-serif;
  position: relative;
  text-align: center;
}

.time {
  font-size: 15px;
  color: #ffd700;
  font-weight: bold;
  margin-bottom: 20px;
}

.gold-radio-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.form-check-inline {
  display: flex !important;
  align-items: center;
  font-size: 14px;
}

.form-check-inline input {
  margin-right: 8px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.input-lg {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
}

.input-group-text {
  color: white;
  font-size: 14px;
  opacity: 0.9;
}

.buy-button {
  padding: 10px 20px;
  background-color: white;
  color: #b0862e;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 24px;
}
.gold-radio input[type="radio"] {
  width: 20px;
  height: 20px;

  margin-right: 6px;
}
.cardbuy {
  padding: 20px;
  border-radius: 10px;
  background: #454141;
}
.rupeeIcon {
  font-size: 20px;
  display: block;
  height: 40px;
  width: 40px;
  background-color: #ffe100;
  text-align: center;
  line-height: 40px;
  border-radius: 50px;
  color: #000 !important;
  border: solid 1px;
}

.radio-group {
  display: flex;
  gap: 20px;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
}

.custom-radio {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: #ffd700; /* Gold text */
  user-select: none;
  font-size: 20px;
}

.custom-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radio-mark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: black;
  border: 2px solid #ffd700;
  border-radius: 50%;
  transition: 0.3s;
}

.custom-radio input:checked ~ .radio-mark {
  background-color: #ffd700;
  box-shadow: 0 0 5px #ffd700;
}

.radio-mark::after {
  content: "";
  position: absolute;
  display: none;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: black;
}

.custom-radio input:checked ~ .radio-mark::after {
  display: block;
}
@media only screen and (max-width: 600px) {
  .custom-radio {
    padding-left: 27px !important;
    font-size: 12px !important;
    line-height: 22px;
  }
  .radio-mark {
    top: 0px !important;
  }
  .input-group-text {
    font-size: 10px !important;
  }
  .gold-calculator {
    background-color: #5c5c5c;
    padding: 20px 15px !important;
  }
  .radio-group {
    display: flex;
    gap: 10px;
  }
  .livePrice_buy h4,
  .livePrice_purity h4 {
    font-size: 16px;
  }
  .buy-button {
    font-size: 14px;
  }
}
