.livePrice_box {
  display: flex;
  justify-content: space-between;
  background-color: #ffd100;
  padding: 15px 20px;
  border-radius: 8px;
  font-family: "Comfortaa", sans-serif;
  margin-bottom: 20px;
}

.livePrice_buy span,
.livePrice_purity span {
  font-size: 14px;
  color:black !important;
  display: block;
  margin-bottom: 5px;
}

.livePrice_buy h4,
.livePrice_purity h4 {
  font-size: 20px;
  color: #000 !important;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
}
